@use "global" as *;

.p-form {
  border-top: 1px solid #eeeeee;
}

.p-form__content {
  display: flex;
  align-items: center;
  padding: rem(38) 0;
  border-bottom: 1px solid #eeeeee;
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    padding: rem(28) 0;
  }
}

.p-form__head {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: rem(313);
  @include mq(md) {
    max-width: 100%;
    padding-bottom: rem(20);
  }
}

.p-form__title {
  width: 100%;
  max-width: rem(263);
  display: block;
  font-size: rem(20);
  font-weight: $bold;
  cursor: pointer;
  padding-right: rem(40);
  @include mq(md) {
    width: fit-content;
    max-width: initial;
    padding-right: rem(20);
    font-size: rem(16);
  }
}

.p-form__add {
  display: block;
  color: $white;
  width: 100%;
  max-width: rem(50);
  text-align: center;
  line-height: 1.42;
  padding: rem(2);
  background-color: #e63333;
  @include mq(md) {
    font-size: rem(12);
    max-width: rem(40);
  }
}

.p-form__add.p-form__add--any {
  background-color: #707070;
}

.p-form__item {
  width: 100%;
  max-width: rem(800);
  margin-left: rem(38);
  // セレクトボックスのクリック領域増やす時はこちらに背景職
  // background-color: #e5e5e5;
  @include mq(md) {
    max-width: 100%;
    margin-left: 0;
  }
}

.p-form__text {
  width: 100%;
  padding: rem(18);
  font-size: rem(20);
  background-color: #e5e5e5;
  @include mq(md) {
    padding: rem(4) rem(10);
    font-size: rem(16);
  }
}

.p-form__content.p-form__content--textarea {
  align-items: flex-start;
}

.p-form__textarea {
  width: 100%;
  height: rem(193);
  font-size: rem(20);
  padding: rem(18);
  background-color: #e5e5e5;
  @include mq(md) {
    height: rem(144);
    padding: rem(4) rem(10);
    font-size: rem(16);
  }
}

// /////////////////////////////////
// セレクトボックス
.p-form__item.p-form__item--select {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: rem(400);
  @include mq(md) {
    max-width: rem(240);
  }
}

.p-form__item.p-form__item--select::before {
  border-right: 1px solid #ab893f;
  border-top: 1px solid #ab893f;
  bottom: 0;
  content: "";
  height: rem(15);
  position: absolute;
  right: rem(40);
  top: rem(22);
  z-index: -1;
  transform: rotate(135deg);
  width: rem(15);
  cursor: pointer;
  @include mq(md) {
    width: rem(10);
    height: rem(10);
    right: rem(20);
    top: rem(11);
  }
}

.p-form__select {
  display: flex;
  align-items: center;
  padding-left: rem(18);
  width: 100%;
  height: rem(67);
  cursor: pointer;
  background-color: #e5e5e5;
  @include mq(md) {
    height: rem(36);
    padding-left: rem(10);
  }
}

// /////////////////////////////////
// ラジオボタン
.p-form__radios {
  display: flex;
  align-items: center;
  @include mq(md) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.p-form__radio + span {
  position: relative;
  display: inline-block;
  padding: 0 rem(40);
  cursor: pointer;
  @include mq(md) {
    padding: rem(10) 0 rem(10) rem(40);
    font-size: rem(14);
  }
}

.p-form__radio + span::before {
  display: block;
  content: "";
  position: absolute;
  top: 51%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid $black;
  border-radius: 50%;
  width: rem(20);
  height: rem(20);
}

.p-form__radio + span::after {
  content: "";
  position: absolute;
  top: 51%;
  left: rem(6);
  transform: translateY(-50%);
  width: rem(8);
  height: rem(8);
  background: $black;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.p-form__radio:checked + span::after {
  opacity: 1;
}

// /////////////////////////////////
// チェックボックス
.p-form__privacy {
  text-align: center;
  margin-top: rem(50);
}

.p-form__privacy-text {
  @include mq(md) {
    font-size: rem(14);
  }
}

.p-form__privacy-text a {
  color: #f5a623;
  display: inline-block;
  text-decoration: underline;
}

.p-form__check-block {
  margin-top: rem(40);
}

.p-form__check + span {
  cursor: pointer;
  font-size: rem(16);
  display: inline-block;
  padding: 0 0 0 rem(35);
  position: relative;
  @include mq(md) {
    font-size: rem(14);
    padding: 0 0 0 rem(20);
  }
}

.p-form__check + span::before {
  background: #fff;
  border: 1px solid $black;
  content: "";
  display: block;
  height: rem(20);
  left: 0;
  top: rem(2);
  position: absolute;
  width: rem(20);
  @include mq(md) {
    width: rem(14);
    height: rem(14);
    top: rem(4);
  }
}

.p-form__check + span::after {
  border-bottom: 3px solid $black;
  border-left: 3px solid $black;
  content: "";
  display: block;
  top: rem(6);
  left: rem(2);
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
  height: 0.6em;
  @include mq(md) {
    left: rem(1);
  }
}

.p-form__check:checked + span::after {
  opacity: 1;
}

.p-form__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(38);
  }
}

.p-form__btn .c-btn {
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
  }
  @include mq("md") {
    &:hover {
      opacity: 1;
    }
  }
}
