@use "global" as *;

.p-header {
  background-color: $black;
  color: $white;
}

.p-header__inner {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: $padding-pc;
  padding-right: $padding-pc;
  @include mq(md) {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  }
}

.p-header__logo {
  width: 100%;
  max-width: rem(94);
  position: relative;
  z-index: 9999;
  @include mq(md) {
    max-width: rem(74);
  }
}

.p-header__hamburger {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(17);
    right: rem(17);
    z-index: 5;
    // ハンバーガー線の幅高さ共に10px多く
    width: rem(36);
    height: rem(16);
  }
}

.p-header__sp-nav {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}
